/*Global*/

body{
    margin: 0;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: #454545;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
/*    overflow-x: hidden;*/
}

html{
/*    overflow-x: hidden;*/
}

a{
    color: #2b3e54;
    text-decoration: underline;
    transition: 0.5s;
}

a:hover{
    text-decoration: none;
    opacity: 0.5;
}

img{
    max-width: 100%;
}

.gray-bg{
    background: #f4fafe;
}

header{
    background: transparent;
    position: absolute;
    left: 0;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, h3 a, h4 a {
    margin: 0;
    padding: 0;
    font-family: sofia-pro,sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #2b3e54;
}

h2 {
    font-size: 1.8rem;
    padding: 30px 0;
}

h3{
    font-size: 32px;
    line-height: 1.09;
    margin-bottom: 30px;
}

span.text-bold{
    font-weight: 700;
}


/* Main nav */

header{
    background-color: #2b3e54;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    padding: 30px 0px;
}

.main-nav h1{
    color: #fff;
    font-size: 2rem;
}

/* Content */

.main-content{
    margin-top: 105px;
}

.description{
    margin-bottom: 40px;
}

.main-content .content{
    border-right: solid 1px rgba(43,62,84, 0.35);
    padding-bottom: 100px;
    padding-right: 50px;
}

.main-content .actions{
    padding-left: 50px;
}

.main-content .actions .boutons{
    display: inline-flex;
    position: absolute;
    bottom: 0;
}

.main-content .actions .boutons button{
    width: 180px;
    height: 180px;
    margin-right: 20px;
    border-radius: 5px;
    border: 0;
    transition: all 0.3s;
    font-size: 1.2rem;
    font-weight: 200;
    text-align: left;
    line-height: 1.2rem;
    padding: 0px 15px;
    padding-top: 90px;
}

.main-content .actions .boutons button.validation{
    background-color: #09814A;
    color: #fff;
    font-weight: 600;
}

.main-content .actions .boutons button[disabled]{
    background-color: #f9f9f9;
    color: #a1a1a1;
}

.main-content .actions .boutons button:hover:not([disabled]){
    opacity: 0.5;
}

/* Text colors */

.text-white, .text-white h2{
    color: #fff;
}

/* Form */

select{
    display: none;
}

.dropdown {
	border: none;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	font-weight: normal;
	outline: none;
	padding: 0 30px 0px 0;
	position: relative;
	text-align: right !important;
	transition: all 0.2s ease-in-out;
	user-select: none;
	width: 100%;
	color: #2b3e54;
	z-index: 1;
    border-bottom: solid 1px rgba(43,62,84, 0.35);
    line-height: 35px;
    flex: 1 1 0px;
}

.dropdown.filled{
    border: 0;
}

.dropdown:after {
	line-height: 0;
	transform-origin: top center;
	transition: all 0.125s ease-in-out;
	content: '\f107';
	font-family: "Font Awesome 5 Pro";
	font-weight: 300;
	display: block;
	pointer-events: none;
	position: absolute;
	right: 13px;
	top: 50%;
	transform: rotate(0deg) translateY(-50%);
	font-size: 18px;
    color: #2b3e54;
}

.dropdown.open:after {
	transform: rotate(-180deg) translateY(-50%);
}

.dropdown.open .list {
	transform: scale(1);
	opacity: 1;
	pointer-events: auto;
}

.dropdown.open .option {
	cursor: pointer;
}

.dropdown.wide {
	width: 100%;
}

.dropdown.wide .list {
	left: 0 !important;
	right: 0 !important;
}

.dropdown .list {
	box-sizing: border-box;
    transition: all .15s cubic-bezier(0.25, 0, 0.25, 1.75), opacity .1s linear;
    transform: scale(.75);
	transform-origin: 50% 0;
	background-color: #fff;
	opacity: 0;
/*	overflow: hidden;*/
	pointer-events: none;
	position: absolute;
	min-width: 100%;
	max-width: inherit;
	top: calc(100% + 10px);
	left: 0px;
	z-index: 999;
	border: solid 1px #2b3e54;
}

.dropdown .list:hover .option:not(:hover) {
	background-color: transparent !important;
}

.dropdown .list ul {
	height: auto;
	max-height: 170px;
/*	overflow: auto;*/
	padding: 0;
	margin: 0;
	position: relative;
}

.dropdown .option {
	cursor: default;
	font-weight: normal;
	color: #2b3e54;
	outline: none;
	display: block;
	text-transform: none;
	padding: 10px 15px;
	text-align: right;
	transition: all 0.2s;
}

.dropdown .option:hover, .dropdown .option:focus {
	background-color: #f4fafe;
	color: #2b3e54;
}

.dropdown .option.selected {
	color: #2b3e54;
    font-weight: 700;
}

.dropdown .option.selected:focus {
	background: #f4fafe;
}

.dropdown:hover, .dropdown.open {
	border-color: #2b3e54;
	color: #2b3e54;
	z-index: 2;
}

form label{
    font-size: 13px;
    color: #2b3e54;
    display: block;
    line-height: 35px;
}

.field-group{
    position: relative;
    margin-bottom: 20px;
    border: solid 1px rgba(43,62,84, 0.35);
    padding: 20px;
    transition: all 1s;
    border-radius: 5px;
}

.field-group .field{
    display: inline-flex;
    width: 100%;
}

.field-group label{
    font-size: 18px;
    color: #2b3e54;
    pointer-events: none;
    flex: 1 1 0px;
}

.field-group .user-no-info{
    font-style: italic;
    font-size: 0.8rem;
    text-align: right;
/*    overflow: hidden;*/
    height: 43px;
    transition: all 1s;
    padding-top: 25px;
}

.field-group .user-no-info a{
    color: #2b3e54;
}

.field-group:not(:first-of-type){
    opacity: 0;
}

.field-group.is-completed + .field-group{
    opacity: 1;
}

textarea{
    border: none;
    height: 165px;
    font-family: sofia-pro, sans-serif;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]), textarea{
    color: #2b3e54;
    border: none;
    border-radius: 0;
    border-bottom: solid 1px rgba(43,62,84, 0.35);
    font-size: 18px;
    outline: none;
    transition: 0.5s;
    background-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]):not([type="date"]){
    text-align: right;
}



.field-group.is-completed:not(.is-active){
    padding: 5px 20px;
    margin-bottom: 10px;
}

.field-group.is-completed .user-no-info{
    height: 0;
    padding: 0;
}

.field-group.is-completed:not(.is-active) input:not([type="checkbox"]):not([type="radio"]):not([type="submit"]):not([type="file"]),
.field-group.is-completed:not(.is-active) textarea{
    border-bottom: 0;
}

.radio-group, .checkbox-group{
    margin-bottom: 30px;
}

.radio-group label,
.checkbox-group label{
    font-size: 18px;
    margin-bottom: 10px;
    cursor: pointer;
}

input[type="checkbox"] {
    vertical-align: top;
    border: 1px solid rgba(43,62,84, 0.35);
    background: #fff;
    cursor: pointer;
    display: inline-block;
    float: left;
    line-height: 0;
    width: 18px;
    height: 18px;
    margin: 4px 10px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    -webkit-appearance: none;
    transition: 0.5s;
    border-radius: 0;
}

input[type="checkbox"]:hover {
    border-color: #2b3e54;
}

input[type="checkbox"]:checked {
    background: rgba(43,62,84, 1);
    border-color: rgba(43,62,84, 1);
}

input[type="checkbox"]:checked:before {
    content: "\f00c";
    font-family: "Font Awesome 5 Pro";
    margin: 8px 3px;
    color: #fff;
    float: left;
    display: inline-block;
    vertical-align: middle;
    font-size: 11px;
}

/* Buttons */

.btn {
    color: #fff;
    text-align: center;
    padding: 9px 25px 11px 25px;
    line-height: 1.4;
    display: inline-block;
    transition: 0.5s;
    font-weight: 700;
    font-size: 18px;
}

.full-btn{
    width: 100%;
}

.red-btn {
    background: #cc0000;
    border: solid 1px #cc0000;
}

.red-btn:hover{
    background: #2b3e54;
    border-color: #2b3e54;
}

.red-btn.red-btn-hover-white:hover{
    background: #fff;
    border-color: #fff;
    color: #cc0000;
}

button {
    cursor: pointer;
    font-family: sofia-pro, sans-serif;
}

/*Footer*/
footer{
    background: #2b3e54;
    color: #fff;
    padding: 30px 0px; 
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

footer ul{
    list-style: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

footer ul li{
    display: inline-block;
    padding: 0 14px;
    margin-bottom: 0;
}

footer a{
    color: rgba(255, 255, 255, 0.75);
}

footer a:hover{
    color: rgba(255, 255, 255, 1);
}

footer p{
    line-height: 1.28;
    margin: 0 0 30px 0;
}

/* Mobile */
.mobile-tools{
    display: none;
}

/* Formtage */

.margin-top-30{
    margin-top: 30px;
}

.margin-top-60{
    margin-top: 60px;
}

.margin-top-100{
    margin-top: 100px;
}

.align-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.image-align-left{
    float: left;
    margin-right: 100px;
}

.image-align-right{
    float: right;
    margin-left: 100px;
}

.position-relative{
    position: relative;
}

.no-scroll{
/*    overflow: hidden !important;*/
}